@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300,400&display=swap");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    --ff-text: "Open Sans", sans-serif;
    --ff-code: "Fira Code", monospace;

    --clr-red: #e8064d;
    --clr-white: #d4d4d4;
    --clr-grey: rgb(10, 10, 10);
    --clr-black: black;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    height: 100vh;

    overflow-x: hidden;

    overscroll-behavior: none;
}

body {
    height: 100vh;
    font-family: var(--ff-text);
    font-size: var(--fs-body);
    font-weight: 300;
    color: var(--clr-white);
    background-color: var(--clr-grey);
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.red {
    color: var(--clr-red);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.8rem;
        --fs-body: 1.25rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --fs-h1: 5.2rem;
        --fs-h2: 4rem;
        --fs-h3: 2rem;
        --fs-body: 1.4rem;
    }
}

@media (min-width: 1500px) {
    :root {
        --fs-h1: 5.5rem;
        --fs-h2: 4.2rem;
        --fs-h3: 2.15rem;
        --fs-body: 1.5rem;
    }
}

@media (min-width: 1750px) {
    :root {
        --fs-h1: 5.75rem;
        --fs-h2: 4.35rem;
        --fs-h3: 2.25rem;
        --fs-body: 1.75rem;
    }
}

@media (min-width: 2000px) {
    :root {
        --fs-h1: 6.1rem;
        --fs-h2: 4.35rem;
        --fs-h3: 2.25rem;
        --fs-body: 1.9rem;
    }
}

@font-face {
    font-family: "Aero";
    src: url("./fonts/aero.ttf");
}

a {
    text-decoration: none;
    color: inherit;
}
